<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="Antlr4.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Paraiba" version="1.1.4.94" targetFramework="net45" />
  <package id="Paraiba.Experiment" version="1.1.4.94" targetFramework="net45" />
  <package id="TreeDotNet" version="1.3.1.20" targetFramework="net45" />
</packages>