<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="Paraiba" version="1.1.3.93" targetFramework="net40" />
  <package id="Paraiba.Experiment" version="1.1.3.93" targetFramework="net40" />
  <package id="TreeDotNet" version="1.2.2.12" targetFramework="net40" />
</packages>