<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net40" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="Paraiba" version="1.1.5.95" targetFramework="net45" />
  <package id="Paraiba.Experiment" version="1.1.5.95" targetFramework="net45" />
  <package id="TreeDotNet" version="1.3.3.22" targetFramework="net45" />
</packages>