<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.2.0-alpha001" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Paraiba" version="1.1.1.91" targetFramework="net40" />
  <package id="Paraiba.Experiment" version="1.1.1.91" targetFramework="net40" />
</packages>