<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="2.14.0" targetFramework="net45" />
  <package id="Accord.MachineLearning" version="2.14.0" targetFramework="net45" />
  <package id="Accord.Math" version="2.14.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="2.14.0" targetFramework="net45" />
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="Paraiba" version="1.1.4.94" targetFramework="net45" />
  <package id="Paraiba.Experiment" version="1.1.4.94" targetFramework="net45" />
  <package id="TreeDotNet" version="1.3.1.20" targetFramework="net45" />
</packages>